<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>My Vue App</title>
  <style>
    h2{
      margin-top: 30px;
      border-bottom: 1px solid #eee;
      width: 100%;
    }

    .message{
      color: red;
    }

    .done{
      color: #eee;
      text-decoration: line-through;
    }
  </style>
</head>
<body>

  <h2>v-model</h2>
  <div class="helloVue">
    <p>Hello {{name.toUpperCase()}} !</p>
    <p><input type="text" v-model="name"></p>
  </div>


  <h2>v-for, v-on, v-bind</h2>
  <div class="toDo">
    <ul>
      <li v-for="(value, index) in todos">
        <input type="checkbox" v-model="value.isDone">
        <span v-bind:class="{done: value.isDone}">{{value.title}}</span>
        <span v-on:click="deleteToDo(index)">[x]</span>
      </li>
    </ul>
    <form v-on:submit.prevent="addToDo">
      <input type="text" v-model="newTodo">
      <input type="submit" value="Add w/submit">
      <input type="button" value="Add w/click" v-on:click="addToDo">
    </form>
    <p class="message">{{message}}</p>
  </div>

  <h2>v-show, v-if</h2>
  <div class="checkName">
    <p v-show="myName.length == 0">Please input your name.</p>
    <p v-show="myName.length != 0">{{ myName }}</p>

    <p v-if="myName.length <= 15">{{ myName.length }}文字</p>
    <p v-else-if="myName.length <= 20">{{ myName.length }}文字とは長いねー</p>
    <p v-else>さすがに{{ myName.length }}文字は長すぎますね。。</p>
    Your Name is <input type="text" v-model="myName">
  </div>

  <h2>computed</h2>
  <div class="computed">
    <p v-if="height == '' || weight == ''">Please input your Height&Weight to culculate BMI.</p>
    <p v-else>{{bmi}}</p>
    Height : <input type="text" v-model="height"><br>
    Weight : <input type="text" v-model="weight">
  </div>

  <h2>watch</h2>
  <div class="watch">
    <button v-on:click="addFruits()">Add Fruits!!</button>
    <p>{{nowTime}}</p>
    <p>{{message}}</p>
    <ul>
      <li v-for="value in fruits">{{value}}</li>
    </ul>
  </div>

  <h2>component, props</h2>
  <div class="components">
    <p>Total FB: {{totalCount}}</p>
    <v-fb v-on:incre="increTotal"></v-fb>
    <v-fb msg1='Go!' msg2='Stop!' v-on:incre="increTotal"></v-fb>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="./main.js"></script>

</body>
</html>
